.win {
    color: green;
}

.lose {
    color: red;
}

.container {
    width: 400px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid navy;
    border-radius: 7%;
}

h1 {
    text-align: center;
    font-family: Quicksand, sans-serif;
    font-size: 4em;
    margin-top: 50px;
}

.to {
    font-size: 2rem;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.btn {
    border-radius: 5%;
    width: 100px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

.setbutton {
    display: flex;
    justify-content: center;
}

#setnames {
    width: 250px;
    background-color: mediumvioletred;
}

#playerone {
    background-color: green;
}

#playertwo {
    background-color: navy;
}

#reset {
    background-color: indianred;
}

.racket {
    max-width: 400px;
    border-top-left-radius: 7%;
    border-top-right-radius: 7%;
}

form {
    text-align: center;
    font-family: Quicksand, sans-serif;
    margin-top: 20px;
}

label {
    font-size: 1.5rem;
}

#playto {
    width: 80px;
    height: 27px;
    font-size: 19px;
    font-weight: 550;
    text-align: center;
}

h2 {
    font-size: 2em;
    font-family: Quicksand, sans-serif;
    font-style: italic;
    margin-top: 20px;
}